# Python venv
.venv/
venv/
env/

# Byte-compiled / cache
__pycache__/
*.pyc

# Local data directories & Terraform files
data/
.terraform/
.terraform.*
terraform.*

# README files
*.md

# OS junk
.DS_Store
Thumbs.db
